{%extends 'base.html'%}
{% load static %}

{%block contents%}
<section class="py-12 px-6 max-w-5xl mx-auto bg-white rounded-xl shadow-md mt-10">
    <h2 class="text-2xl font-semibold mb-4">Overview</h2>
    <p class="mb-4">
        Artificial Intelligence stands at the helm of the
        dramatic change in the management of illness in the
        health care sector. The ability of Artificial Intelligence to
        handle large-scale data analysis, thus aiding clinical
        decision-making, and automating diagnostic procedures
        portends new hope in facing global predictive care.
        According to current research on healthcare technology,
        LLM and artificial intelligence are instrumental
        components of medical services. With the aim of
        designing a more advanced healthcare system, using
        Large Language Models (LLM) to enhance medical
        diagnostics by individualised health management is one
        approach. It may help the user with supplements using the
        symptoms they give. An integrated system also includes
        offering you a medical chatbot to be your virtual health
        assistant. It analyses your health data using advanced AI
        and provides real-time answers to your questions. It will
        give you basic advice and can help prepare you for a
        further knowledgeable conversation with medical experts.
        It is accurate and offers personalized information based
        on your health profile; it is available anytime, anywhere
        to answer questions about symptoms or to request
        assistance from the medical world. It can be applied to
        anyone, regardless of age, from young adults to old
        people, due to its design. The general public will live
        healthier, better lives as a result of using the healthcare
        system.
    </p>
    <p class="mb-4">
        Large-scale, complex architecture, and fabulous
        capability to generate language set the definition of
        LLMs, which include revolutionized advancements
        in the domain of NLP. It enables interpretation and
        generation of text similar to humans using deep
        neural network topologies, transformers, and huge
        quantities of training data. Consequently, it can be
        used as a resourceful tool in natural processing
        applications, such as chatbots, code generation, and
        summarisation.
    </p>
    <p class="mb-4">
        Text summarization can be considered a highly
        complex task, as it requires understanding the main
        points of a piece of text and then condensing these
        points into a shorter form. LLMs have been applied
        to a wide range of additional tasks such as
        Sentiment Analysis in Customer Reviews, Spam
        Detection in Email Filters. For instance, an LLM can
        be utilized to decide whether some post on Twitter
        was written by a specific individual, or determine
        who wrote a particular piece of writing anonymously.

    </p>
    <p class="mb-4">
        A new drug in the market is associated with drug
        development. The process of developing drugs,
        however, is very complex and time-consuming and is
        very costly while carrying low chances of success. It
        can rapidly produce drug candidates far more speedily
        than traditional drug discovery since it analyzes the
        chemical structure of successful drugs and simulates
        variations. Not only does this save time and resources,
        but it may have discovered some drugs that otherwise
        would have been left out by traditional methods.
    </p>
    <p class="mb-4">
        It also decreases dependency on real-world data
        collection, reduces costs and time in collecting and
        preparing actual patient records. Furthermore,
        synthetic data with varying attributes and parameters
        can help physicians and researchers to explore and
        analyze a range of ideas [5, 3, 7], which, in turn,
        brings in new discoveries and understanding. Apart
        from improving the research capabilities, the
        synthetic data helps in data protection regulations
        compliance. It significantly reduces the chances of
        vulnerable patient information exposure. Such
        regulations are well in line with the ever-increasing
        practice of ethical AI, where technologies are also
        being developed so that innovations are balanced
        against privacy concerns.
    </p>
    <p>
        Customized therapy for specific patients is important
        in personalized medical care. To develop
        individualized recommendations for therapy, LLMs
        will be required in gathering patient data. The large
        patient data sets can be trained on in order for the AI
        to begin recognizing patterns and relationships that a
        human physician may bypass. For instance, it might
        find that a specific drug would be a good fit for the
        patients who have a particular genetic signature. A
        customized treatment plan that is based on the
        requirements of each patient can then be made using
        this information.
    </p>
</section>

{%endblock%}
